.footer {
    margin-top: 284px;
    text-align: center;
    &__copy {
        @include reset-style;
        margin-top: 28px;
        margin-bottom: 34px;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.05px;
        opacity: 0.5;
    }
    .button {
        font-size: 32px;
        line-height: 48px;
        span {
            padding: 14px 18px;
            &::after {
                display: none;
            }
        }
    }
}

@media (max-width: 1080px) {
    .footer {
        margin-top: 200px;
    }
}

@media (max-width: 767px) {
    .footer {
        margin-top: 100px;
    }
}
