.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

body {
  min-width: 320px;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Fira Sans", Arial, sans-serif;
  font-size: 22px;
  font-weight: 400;
  color: #ffffff;
  background-color: #171919;
  text-transform: uppercase;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

a {
  display: inline-block;
  text-decoration: none;
  color: #ffffff;
}

.container {
  max-width: 1920px;
  margin: 0 auto;
}

.subtitle-left {
  @include reset-style;
  display: inline-block;
  position: relative;
  margin-bottom: 8px;
  padding-left: 103px;
  font-weight: normal;
  font-size: 22px;
  line-height: 32px;
  letter-spacing: 7.33333px;
  text-transform: uppercase;
  mix-blend-mode: normal;
  opacity: 0.5;
  &:before {
    content: "";
    position: absolute;
    left: 0;
    top: 50%;
    width: 80px;
    height: 1px;
    background-color: #ffffff;
  }
}

.title {
  div {
    @include reset-style;
    display: inline-block;
    position: relative;
    font-weight: 800;
    font-size: 200px;
    color: rgba(#ffffff, 0.02);
    transform: translateX(-50px);
  }
  span {
    display: inline-block;
  }
  h2 {
    @include reset-style;
    font-size: 80px;
    color: #ffffff;
    position: absolute;
    top: 0;
    right: -5px;
    &::after {
      position: absolute;
      content: "";
      top: 0;
      right: 0;
      width: 80px;
      height: 1px;
      background-color: $green;
    }
  }
}

.subtitle {
  display: inline-block;
  text-align: right;
  &__caption {
    @include reset-style;
    padding-right: 5px;
    font-weight: 800;
    font-size: 40px;
    span {
      font-weight: 100;
    }
  }
}

.descr {
  display: inline-block;
  &__caption {
    @include reset-style;
    white-space: pre-line;
    font-weight: 800;
    font-size: 40px;
    span {
      font-weight: 100;
    }
  }
  &__subtitle {
    @include reset-style;
    display: inline-block;
    position: relative;
    margin-bottom: 8px;
    padding-right: 103px;
    font-weight: normal;
    font-size: 22px;
    line-height: 32px;
    letter-spacing: 7.33333px;
    text-transform: uppercase;
    mix-blend-mode: normal;
    opacity: 0.5;
    &:before {
      content: "";
      position: absolute;
      right: 0;
      top: 50%;
      width: 80px;
      height: 1px;
      background-color: #ffffff;
    }
  }
}

.button {
  text-align: center;
  font-weight: 800;
  font-size: 40px;
  line-height: 36px;
  text-transform: uppercase;
  span {
    display: inline-block;
    position: relative;
    padding: 17px 57px 15px 17px;
    background-color: $green;
    margin-left: 19px;
    &::before {
      content: "";
      position: absolute;
      top: 50%;
      left: -10px;
      width: 20px;
      height: 1px;
      background-color: #fff;
    }
    &::after {
      content: "";
      position: absolute;
      top: 50%;
      right: 17px;
      width: 25px;
      height: 21px;
      background-image: url(../images/next.svg);
      background-repeat: no-repeat;
      transform: translateY(-50%);
    } 
  }
}

.rating {
  @include reset-style;
  display: flex;
  align-items: center;
  li {
      margin-right: 11px;
      &:last-child {
          margin-right: 0;
      }
  }
}

.quantity {
  display: inline-block;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

input[type="number"] {
  -moz-appearance: textfield;
}

.quantity input {
  padding: 0;
  width: 45px;
  height: 42px;
  display: block;
  font-weight: 800;
  line-height: 36px;
  color: #ffffff;
  border: none;
  background-color: transparent;
}

.quantity input:focus {
  outline: 0;
}

.quantity-nav {
  float: left;
  position: static;
  height: 42px;
}

.quantity-button {
  position: relative;
  top: 55px;
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.quantity-button.quantity-up {
  position: absolute;
  right: 0;
}

.quantity-button.quantity-down {
  position: absolute;
  right: 25px;
}

@media (max-width: 1080px) {
  .title {
    div {
      font-size: 165px;
    }
    h2 {
      font-size: 85px;
    }
  }
  .descr__caption {
    font-size: 34px;
  }
}

@media (max-width: 767px) {
  .title {
    div {
      font-size: 90px;
    }
    h2 {
      font-size: 60px;
    }
  }
  .subtitle-left {
    font-size: 14px;
    line-height: 26px;
    letter-spacing: 3px;
  }
  .subtitle__caption {
    font-size: 24px;
  }
  .descr {
    &__caption {
      font-size: 24px;
    }
    &__subtitle {
      font-size: 14px;
      line-height: 16px;
      letter-spacing: 3px;
    }
  }
  .button {
    font-size: 30px;
  }
}