.header {
    position: relative;
    height: 100vh;
}

.header-slider {
    @include reset-style;
}

.slider-item {
    position: relative;
    height: 100vh;
    background-image: url(../images/header-bg@1x.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

@include retina {
    .slider-item {
        background-image: url(../images/header-bg@2x.jpg);
    }
}

.slider-item__info {
    position: absolute;
    right: 80px;
    bottom: 116px;
    text-align: right;
}

.slider-item__info-shore {
    margin-bottom: 5px;
}

.slider-item__info-title {
    @include reset-style;
    margin-bottom: 48px;
    font-weight: 800;
    font-size: 80px;
    line-height: 86px;
}

.slider-item__info-status {
    margin-bottom: 8px;
}

.slider-item__info-subtitle {
    @include reset-style;
    font-weight: 800;
    font-size: 40px;
    line-height: 48px;
}

.slider-item__info-link {
    font-size: 0;
}

.slider-arrows {
    position: absolute;
    top: 40px;
    right: 80px;
    cursor: pointer;
    z-index: 3;
}

.slider-arrows__prev {
    right: 125px;
}

.slider-dots {
    @include reset-style;
    position: absolute;
    right: 50px;
    bottom: 36px;
    max-width: 920px;
    width: 100%;
    .slick-current {
        .dots-box {
            border-top: 4px solid $green;
        }
    }
}

.dots-box {
    display: flex;
    justify-content: space-between;
    width: 200px;
    min-height: 28px;
    align-items: center;
    border-top: 4px solid #ffffff;
    padding-top: 6px;
    &__number {
        @include reset-style;
        font-weight: 800;
        font-size: 24px;
        line-height: 34px;
    }
    &__title {
        @include reset-style;
        font-weight: 300;
        font-size: 16px;
        line-height: 19px;
        text-transform: capitalize;
    }
}

.header__title {
    @include reset-style;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 4;
    width: 467px;
    font-weight: 800;
    font-size: 200px;
    line-height: 156px;
    opacity: 0.07;
}

.aside {
    position: absolute;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    top: 0;
    left: 0;
    z-index: 5;
    height: 100vh;
    text-align: center;
    border-right: 1px solid rgba(#fff, 0.25);
    &__toggle {
        display: none;
    }
}

.menu {
    margin: 0 auto;
    &__list {
        @include reset-style;
        margin-bottom: 14px;
        a:hover {
            transform: scale(1.2);
            transition: 0.5s;
        }
        span {
            display: block;
            margin-bottom: 22px;
            padding-top: 6px;
            font-weight: 500;
            font-size: 12px;
            line-height: 14px;
            letter-spacing: 3px;
            text-transform: capitalize;
        }
    }
}

.header {
    &__search,
    &__date,
    &__location {
        @include reset-style;
    }
    &__date {
        font-weight: 800;
        font-size: 72px;
        line-height: 64px;
        span {
            display: block;
            padding-top: 16px;
            font-weight: 300;
            font-size: 16px;
            line-height: 19px;
            letter-spacing: 1.4px;
        }
    }
    &__location {
        display: flex;
        justify-content: center;
        font-weight: 300;
        font-size: 12px;
        line-height: 14px;
        letter-spacing: 1.05px;
        span {
            display: block;
            margin-left: 8px;
            padding-bottom: 4px;
            text-transform: capitalize;
        }
    }
}

.header__map {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 2;
}

.header__arrows {
    position: absolute;
    left: 210px;
    bottom: 30px;
}
.header__arrows-link {
    font-size: 0;
}

.line-animation {
    stroke-dashoffset: 600;
    stroke-dasharray: 600;
    animation: line 5s infinite 6s;
}

@keyframes line {
    to {
        stroke-dashoffset: 0;
    }
}

@media (max-width: 1440px) {
    .header__title {
        left: 40px;
        font-size: 130px;
        line-height: 130px;
    }
    .logo {
        img {
            width: 80px;
            height: auto;
        }
    }
    .menu__list {
        span {
            margin-bottom: 15px;
        }
        img {
            width: 60%;
        }
    }
    .header__date {
        font-size: 42px;
        line-height: 46px;
        span {
            padding-top: 0;
            font-size: 12px;
        }
    }
    .header__arrows {
        left: 130px;
    }
    .header__map {
        svg {
            width: 800px;
            height: 400px;
        }
    }
}

@media (max-width: 1350px) {
    .slider-item__info-title {
        font-size: 60px;
        line-height: 70px;
    }
    .slider-item__info-subtitle {
        font-size: 34px;
        line-height: 40px;
    }
    .header__map {
        svg {
            width: 720px;
            height: 352px;
        }
    }
}

@media (max-width: 1150px) {
    .header__map svg {
        width: 625px;
        height: 300px;
    }
    .slider-item__info-title {
        margin-bottom: 30px;
        font-size: 42px;
        line-height: 46px;
    }
    .slider-item__info-subtitle {
        font-size: 30px;
        line-height: 34px;
    }
    .dots-box {
        width: 125px;
    }
    .slider-dots {
        right: 0;
        max-width: 715px;
        width: 100%;
    }
    .slider-item__info {
        right: 45px;
    }
    .slider-arrows {
        right: 50px;
    }
    .slider-arrows__prev {
        right: 95px;
    }
}

@media (max-width: 1080px) {
    .aside {
        height: unset;
        min-height: 300px;
        border-right: none;
        &__toggle {
            display: block;
            z-index: 5;
        }
    }
    .menu {
        &--closed {
            display: none;
        }
        &--opened {
            display: block;
        }
    }

    .menu__list {
        display: flex;
        position: absolute;
        top: 70px;
        left: 85px;
        background-color: rgba(#000000, 0.4);
        border-radius: 60px;
        a {
            img {
                margin: 0 auto;
                width: 52px;
                height: 52px;
            }
            span {
                margin: 0;
                padding: 0;
            }
            padding: 12px 20px;
        }
    }
    .header__arrows {
        display: none;
    }
    .toggle {
        font-size: 0;
    }
    .toggle--opened {
        position: absolute;
        top: 30px;
        left: 118px;
        padding: 0;
        width: 40px;
        height: 4px;
        font-size: 0;
        border: 0;
        outline: 0;
        background-color: transparent;
    }

    .toggle--opened {
        &:before,
        &:after {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 4px;
            height: 40px;
            background-color: $green;
            border-radius: 10px;
        }
        &:before {
            transform: rotate(-45deg);
        }
        &:after {
            transform: rotate(45deg);
        }
    }

    .toggle--closed {
        position: relative;
        top: -115px;
        left: 120px;
        transform: translateX(-50%);
        padding: 0;
        width: 40px;
        height: 4px;
        font-size: 0;
        border: 0;
        outline: 0;
        background-color: $green;
        border-radius: 10px;
        &:before,
        &:after {
            position: absolute;
            content: "";
            left: 0;
            width: inherit;
            height: inherit;
            background-color: inherit;
            transition: all ease 0.3s;
            border-radius: inherit;
        }
        &:before {
            top: -12px;
        }
        &:after {
            top: 12px;
        }
    }
}

@media (max-width: 767px) {
    .logo {
        margin-bottom: 20px;
    }
    .slider-item__info-title {
        margin-bottom: 20px;
        font-size: 30px;
        line-height: 34px;
    }
    .slider-item__info-subtitle {
        font-size: 26px;
        line-height: 30px;
    }
    .header__map svg {
        width: 350px;
        height: 300px;
    }
    .header__title {
        display: none;
    }
    .slider-item__info {
        right: 20px;
        bottom: 80px;
    }
    .slider-arrows {
        right: 20px;
    }
    .slider-arrows__prev {
        right: 60px;
    }
    .header__dots {
        display: none;
    }
    .menu__list {
        flex-direction: column;
        top: 0px;
        left: 140px;
        background-color: rgba(#000000, 0.9);
    }
    .slider-item {
        background-image: url(../images/header-bg-mobile@1x.jpg);
    }
    @include retina {
        .slider-item {
            background-image: url(../images/header-bg-mobile@2x.jpg);
        }
    }
}
