.trip {
    padding: 160px 0 260px;
    background-image: url(../images/glass.png);
    background-repeat: no-repeat;
    background-position: bottom right;
    &.sleep {
        background-image: url(../images/flower-big.png);
    }
    &-slider {
        @include reset-style;
    }
    .slider-arrows {
        top: 250px;
        opacity: 0.5;
    }
}

.trip-item {
    &__header {
        background-repeat: no-repeat;
        background-position: top left;
        min-height: 780px;
    }
    &__subtitle {
        padding-right: 80px;
        padding-top: 132px;
        text-align: right;
    }
    &__descr {
        margin-top: -230px;
        padding: 160px 0 0 132px;
        min-height: 320px;
        background-repeat: no-repeat;
        background-position: right center;
        background-size: contain;
        .descr__caption {
            position: relative;
            padding-right: 78px;
            img {
                position: absolute;
                top: 0;
                right: 0;
            }
        }
    }
    &__button {
        text-align: center;
    }
}

.descr__caption-wrapper {
    display: flex;
    .descr__caption {
        padding-right: 25px;
    }
}

.trip-info {
    @include reset-style;
    display: flex;
    justify-content: space-around;
    &__item {
        position: relative;
        min-height: 200px;
        margin-bottom: 66px;
    }
    &__measure {
        position: absolute;
        font-size: 14px;
        line-height: 36px;
        letter-spacing: 5.25px;
        text-transform: uppercase;
        color: rgba(#fff, 0.75);
        top: 30px;
        right: 24px;
    }
    &__parameters {
        position: absolute;
        top: 90px;
        left: -140px;
        width: 200px;
        height: 0;
        @include reset-style;
        white-space: nowrap;
        text-align: right;
        font-weight: normal;
        font-size: 18px;
        line-height: 22px;
        letter-spacing: 8px;
        opacity: 0.5;
        transform: rotate(-90deg);
    }
    &__values {
        @include reset-style;
        position: relative;
        width: 200px;
        font-weight: 800;
        font-size: 40px;
        line-height: 36px;
    }
}

@media (max-width: 1150px) {
    .trip {
        padding: 90px 0 225px 0;
    }
    .trip-item__descr {
        padding: 160px 0 0 45px;
    }
    .trip-item__subtitle {
        padding-right: 45px;
    }
    .trip-info {
        margin: 0 45px;
        flex-wrap: wrap;
        &__item {
            width: calc(100% / 2);
        }
    }
    .trip-info__measure {
        left: 0;
    }
}

@media (max-width: 1080px) {
    .trip {
        padding: 30px 0 225px 0;
        background-size: 25%;
    }
    .trip-info__item {
        margin-bottom: 30px;
        min-height: unset;
    }
    .trip-info__parameters {
        position: static;
        margin-bottom: 10px;
        transform: rotate(0deg);
        width: auto;
        height: auto;
        text-align: left;
    }
    .trip-info__values {
        font-size: 36px;
    }
    .trip-info__measure {
        top: 70px;
    }
    .trip-item__descr {
        background-size: 35%;
    }
}

@media (max-width: 767px) {
    .trip {
        background-image: none;
        padding: 30px 0 100px 0;
    }
    .trip.sleep {
        background-image: none;
    }
    .trip-item__subtitle {
        padding-top: 50px;
        padding-right: 20px;
    }
    .trip-item__header {
        background-size: contain;
        min-height: 600px;
    }
    .trip-item__descr {
        min-height: 200px;
        padding: 0px 0 0 20px;
        background-position: right top;
    }
    .trip .slider-arrows {
        top: 140px;
    }
    .trip-info {
        margin: 0 0 30px 20px;
    }
    .trip-info__item {
        width: 100%;
    }
    .travel .trip-info {
        background-image: url(../images/glass.png);
        background-repeat: no-repeat;
        background-position: right center;
    }

    .sleep .trip-info {
        background-image: url(../images/flower-big.png);
        background-repeat: no-repeat;
        background-position: right center;
    }
}

@media (max-width: 500px) {
    .trip-item__header {
        min-height: 450px;
    }
    .trip-item__descr {
        min-height: 120px;
        background-size: 0%;
        img {
            display: none;
        }
    }
    .trip-info {
        background-size: 40%;
    }
    .trip-info__values {
        width: 160px;
        font-size: 30px;
    }
}
